numpy==1.24.4
pandas==2.0.3
openpyxl
scikit_learn==1.3.0
tensorflow==2.11.0
xgboost==1.7.6
gensim==4.2.0
PyQt5_sip==12.12.1
rdkit==2023.3.2
mol2vec @ git+https://github.com/samoturk/mol2vec
deepchem==2.7.1